<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297754099055-qkg6eu9k4memdt81r01vs8s6kje4qudd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297754099055-qkg6eu9k4memdt81r01vs8s6kje4qudd</string>
	<key>API_KEY</key>
	<string>AIzaSyBhL3UeHiKF9LYdnuWFbtVk05fugTebUJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>297754099055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clinicianfirst.education</string>
	<key>PROJECT_ID</key>
	<string>education-5531f</string>
	<key>STORAGE_BUCKET</key>
	<string>education-5531f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297754099055:ios:99717938dbacff5c</string>
	<key>DATABASE_URL</key>
	<string>https://education-5531f.firebaseio.com</string>
</dict>
</plist>